@media screen and (max-width: 768px) {
  .cart-icon {
    padding: 10px 10px;
    cursor: pointer;
    margin-right: 2%;
  }
}
@media screen and (min-width: 768px) {
  .cart-icon {
    padding: 10px 10px;
    cursor: pointer;
    margin-right: 2%;
  }
}
